<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8"  />
<meta name="description" content="Leon's Blog" />
<meta name="keywords" content="blog, life, code, software, technology, poem, 博客, 编程, 诗歌, 王立洋" />
<meta name="author" content="王立洋" />
<link rel="stylesheet" type="text/css" href="/css/default.css" />
<link rel="alternate" type="application/atom+xml" href="http://wangliyangleon.github.com/atom.xml" />

<title>Leon's Blog</title>
</head>

<body>
{% include default_header.html %}
<div id="content">  
  {{ content }}
</div>
{% include tag_list.html %}
{% include shares.html %}
{% include disqus.html %}
{% include default_footer.html %}

{% include disqus_count.html %}
<script type="text/javascript">window.scrollBy(0,0);</script>
</body>
</html>
